</stye>

</head>
<body>
  <style type="text/css">*{margin:0;padding:0;outline:none;}#container{position:absolute;width:100%!important;height:100%!important;}*:focus{outline:none;}</style>
	<div id="container"></div>
</body>
<script>
jwplayer("container").setup({

		    controls: "true",
		    displaytitle: false,
		    fullscreen: "true",
		    primary: 'html5',
		    stretching: "exactfit",
		    autostart: false,
		autoscreenrotation: "true",
		androidhls: "true",
             logo:{position:"top-right", 
                    file:"https://ALOSTORA.imgur.com/cJ77XNp.png", 
                        "margin": "5",
                    link: ""},
		    skin: {
		    	name: 'ALOSTORA',
		    },

		    //sharing: {
		    	//sites: ["reddit","facebook","twitter"]
		    //},